@tailwind base;
@tailwind components;
@tailwind utilities;



.top-header {
  background-color: #c7f2ab;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 40px;
  font-size: 12px;
}

.home-image {
  float: right;  
}

.home-page {
  margin-top: 100px;
}

.logos {
  background-color: #1668e8;
  height: 80px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: 12px;
  padding-left: 70px;
}

.logo-style {
  margin-top: 10px;
}


.dashboard {
  text-align: center;
}

.graph {
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  line-height: 36px;
  margin-top: 10px;
}

.second-section {
  margin-top: 100px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;

}

.forms {
  width: 50px;
  display: flex;
}

.register {
  display: flex;
  margin-top: -8px;
}

.input {
  border-radius: 50px;
}

.text {
  font-family: "Inter", sans-serif;
  line-height: 96px;
  font-weight: 600px;
  font-size: 80px;

}

.greating {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16.42px;

}

@media screen and (max-width: 750px) {
  .home-phone {
    margin-top: 50px;
  }

  .text {
  font-family: "Inter", sans-serif;
  font-weight: 600px;
  font-size: 80px;
  line-height: 96px;

  }

  .description {
    margin-bottom: 30px;
  }

  .logos {
    padding-left: 5px;
    padding-right: 5px;
  }

  .title {
    line-height: 45px;
  }
}

.top-header {
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.topheader-button .menu .greating {
  font-family: "Inter", sans-serif;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16.42px;
}

.accroche {
  color: red;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  line-height: 34px;
}